.liContainer {
  width: 93%;
  margin: 0 auto;

  .divContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .divBox {
      display: flex;
      gap: 0.7rem;
      font-size: clamp(1.3rem, 1.22rem + 0.32vw, 1.5rem);
    }
  }
}
