.sectionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-inline: clamp(1rem, 1.385rem + -1.538vw, 0rem);
    gap: 1.5rem;

    .divBox {
        display: flex;
        gap: 2.5rem;
    }

    .divTitle {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        .spanAdd {
            display: flex;
            margin-right: .4rem;
            font-size: clamp(1rem, 0.6rem + 1.6vw, 2rem);
        }
    }
}