.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .divContainer {
    width: clamp(20rem, 6.667rem + 53.333vw, 40rem);
    max-width: 1100px;
    margin: 0 auto;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;

    h1 {
      color: var(--color-blue);
      padding-right: 3rem;
      text-align: center;
    }

    .divBox {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      .divInput {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        .formBox{
          display: flex;
          align-items: center;

          input {
            font-size: clamp(1rem, 0.667rem + 1.333vw, 1.5rem);
            padding-left: 1.5rem;
          }
        }
      }


    }
  }

  .divNotFind {
    p {
      text-align: center;
    }
  }
}
